<div class="back-bg" (click)="_onBackground()"></div>
<div class="msg">
  <div class="msg-content">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access has-border" href="javascript:;" (click)="linkSelect()">
        <div class="weui-cell__bd">
          <p>链接</p>
        </div>
        <div class="weui-cell__ft">{{data.link}}</div>
      </a>
      <suyun-link-select *ngIf="showLinkSelect" (onSelect)="onLinkSelect($event)"></suyun-link-select>
    </div>

    <div class="weui-cells">
      <a class="weui-cell weui-cell_access has-border" href="javascript:;" (click)="iconSelect()">
        <div class="weui-cell__bd">
          <p>图标</p>
        </div>
        <div class="weui-cell__ft"><alion [name]="data.icon"></alion></div>
      </a>
      <suyun-icon-select *ngIf="showIconSelect" (onSelect)="onIconSelect($event)"></suyun-icon-select>
    </div>

    <div class="weui-cells m10">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">显示标题</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" [(ngModel)]="data.title" type="text" placeholder="请输入标题">
        </div>
      </div>
    </div>


    <div class="footer">
      <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary fl" (click)="save()">保存</a>
      <!--<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" (click)="default()">默认</a>-->
      <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn fr m0" (click)="delete()">删除</a>
    </div>
  </div>
</div>


